Standard: Auto
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

PointerAlignment: Middle
ReferenceAlignment: Right
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: CurrentLine
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true

EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
IndentAccessModifiers: false
IndentCaseLabels: false
NamespaceIndentation: None
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true
InsertNewlineAtEOF: true
SeparateDefinitionBlocks: Leave

SortIncludes: Never
SortUsingDeclarations: Never
ReflowComments: false

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never
SpacesInParens: Never
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 1

ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
StatementAttributeLikeMacros:
  - Q_EMIT
  - emit
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
  - Q_CLASSINFO
  - Q_ENUM
  - Q_PROPERTY
MacroBlockBegin: ''
MacroBlockEnd: ''

ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
WhitespaceSensitiveMacros:
  - QT_MANGLE_NAMESPACE
